* {
    box-sizing: border-box;
}

body{
	margin: 0;
}

.header{
	height: 45px;
	font-size: 25px;
} 

.header a{
	float: left;
	padding: 8px 15px;
}

.content{
	padding: 8px 15px;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	background-color: #2badbc;
}

#active{
	background-color: #79dae5;	
}

label.error{
	color: #ff0000;
}